.btn-buy-now {
    background-image: linear-gradient(to bottom, #5871ff 0%, #1a33c2 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
}

.footer {
    height: 400px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}